---
all:
  children:
    pam_servers:
      children:
        pam_primary:
          hosts:
            gateway-primary:
              ansible_host: 10.0.0.10
              pam_ha_role: primary
        pam_standby:
          hosts:
            gateway-standby:
              ansible_host: 10.0.0.11
              pam_ha_role: standby
