{% if operator.certificate | default('') | length > 0 %}
{%   if operator.access | default('jump') == 'jump' %}
restrict,port-forwarding{% for target in operator.permit_open | default(bastion_permitted_targets) %},permitopen="{{ target }}"{% endfor %} {{ operator.certificate }}
{%   else %}
{{ operator.certificate }}
{%   endif %}
{% elif operator.access | default('jump') == 'jump' %}
restrict,port-forwarding{% for target in operator.permit_open | default(bastion_permitted_targets) %},permitopen="{{ target }}"{% endfor %} {{ operator.pubkey }}
{% else %}
{{ operator.pubkey }}
{% endif %}
