[Unit]
Description=SSH PAM JIT operator expiry purge
Documentation=https://github.com/itwarranty/pam
After=network-online.target

[Service]
Type=oneshot
ExecStart={{ bastion_jit_purge_script_path }}
User=root

[Install]
WantedBy=multi-user.target
