{% for target in pam_targets | default([]) %}
{% if target.host_key_fingerprint | default('') | length > 0 %}
[{{ target.host }}]:{{ target.port | default(22) }} {{ target.host_key_fingerprint }}
{% endif %}
{% endfor %}
